<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <!-- COURSE-CARD -->
    <article class="course-card">
        <div class="course-card__color"></div>
        <section class="course-card__info">
            <section>
                <h4 class="h4">En awesome kurs i grejer</h4>
                <figcaption class="figcaption">med Lärare Lärarsson</figcaption>
            </section>
            <nav class="course-card__nav">
                <a class="card__link card-p" href="#">Planera</a>
                <a class="card__link card-p" href="#">Kursvy</a>
                <a class="card__link card-p" href="#">Översikt</a>
                <a class="card__link card-p" href="#">Bedömning</a>
            </nav>
        </section>
    </article>
    
</body>
</html>
    
    
    
    
    
    