<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <a class="nav__link" href="#">Planering</a>
        <a class="nav__link" href="#">Dashboard</a>
        <a class="nav__link" href="#">Kursvy</a>
        <a class="nav__link" href="#">Bedömning</a>
    </nav>

    <header class="module">
        <aside class="module__label">
            <h2 class="module__number">01</h2>
            <h3>2 studiedagar</h3>
        </aside>
        <section class="module__overview">
            <h2 class="overview__heading">Mål med modul</h2>
            <ol class="goal__list">
                <li class="goal">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, nihil.</li>
                <li class="goal">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, nihil</li>
            </ol>
        </section>
    </header>



</body>
</html>