<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <a class="nav__link" href="#">Planering</a>
        <a class="nav__link" href="#">Dashboard</a>
        <a class="nav__link" href="#">Kursvy</a>
        <a class="nav__link" href="#">Bedömning</a>
    </nav>

    <header class="lesson__header">
        <aside class="lesson__module">
            <p>01</p>
            <p>2 studiedagar</p>
        </aside>
        <section class="lesson__overview">
            <h2 class="overview__heading">Mål med modul</h2>
            <ol class="lesson__goals">
                <li class="goal">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, nihil.</li>
                <li class="goal">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, nihil</li>
            </ol>
        </section>
    </header>



</body>
</html>