<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <!-- LESSON-HEADER -->
    <header class="lesson-header">
        <aside class="module">
            <h2 class="h2 module__number">01</h2>
            <h3 class="h3">2 studiedagar</h3>
        </aside>
        <section class="module__overview">
            <h2 class="h2">Mål med modul</h2>
            <ol>
                <li class="lesson-outcome main-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, nihil.</li>
                <li class="lesson-outcome main-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, nihil</li>
            </ol>
        </section>
    </header>

    <!-- MODULE-GOAL -->
    <section class="module-goal">
        <p class="card-p card-p--lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, nesciunt?</p>
    </section>

    <!-- LINK -->
    <section class="link__wrapper">
        <section class="link">
            <img src="../img/document-outline.svg" alt="">
            <p class="figcaption">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </section>
        <section class="link">
            <img src="../img/videocam-outline.svg" alt="">
            <p class="figcaption">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </section>
    </section>

    <!-- LESSON -->
    <article class="lesson lesson--purple">
        <aside class="module">
            <h2 class="h2 h2--lighter module__number--lighter">1.2</h2>
            <!-- SCHEDULE -->
            <section class="schedule">
                <img src="../img/calendar-outline.svg" alt="Icon of calendar.">
                <section class="card-p--lighter">
                    <time class="schedule__date" datetime="2022-10-03">9 okt.</time>
                    <time class="schedule__time" datetime="08:00+01:00">9.00-16.00</time>
                    <address class="schedule__address card-p--lighter">@zocom</address>
                </section>
            </section>
        </aside>
        <section class="module__overview">
            <h2 class="h2 h2--lighter">Tillgänglighet - en grundläggande rättighet</h2>
            
            <!-- MODULE-GOAL -->
            <section class="module-goal">
                <p class="card-p card-p--lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, nesciunt?</p>
            </section>
            <p class="main-p">Responsive web design agile development funding MVP alpha channels. User experience beta branding supply chain social proof scrum project ramen influencer hypotheses termsheet.</p>
            
            <!-- LINK -->
            <section class="link__wrapper">
                <section class="link">
                    <img src="../img/document-outline.svg" alt="">
                    <p class="figcaption">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </section>
                <section class="link">
                    <img src="../img/videocam-outline.svg" alt="">
                    <p class="figcaption">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </section>
            </section>

            <!-- ACTIVITY-SELF-ASSESMENT -->
            <section class="activity-self-assessment">
                <ul class="self-assessment__options">
                    <li class="self-assessment__option border-right card-p">ej påbörjat</li>
                    <li class="self-assessment__option border-right card-p">förstår ej</li>
                    <li class="self-assessment__option border-right card-p">förstår delvis</li>
                    <li class="self-assessment__option card-p">förstår helt</li>
                </ul>
            </section>
        </section>
    </article>


</body>
</html>