<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <!-- BTN -->
    <button class="btn"><h4 class="h4">Ok, klar!</h4></button>

    <!-- TOGGLE-DONE -->
    <section class="toggle-done">
        <div class="toggle-done__track"><div class="toggle-done__thumb"></div></div>
        <p class="main-p">Fäll ihop avklarade Moduler och Aktiviteter</p>
    </section>

</body>
</html>