<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <!-- ACTIVITY-SELF-ASSESMENT -->
    <section class="activity-self-assessment">
        <ul class="self-assessment__options">
            <li class="self-assessment__option border-right card-p">ej påbörjat</li>
            <li class="self-assessment__option border-right card-p">förstår ej</li>
            <li class="self-assessment__option border-right card-p">förstår delvis</li>
            <li class="self-assessment__option card-p">förstår helt</li>
        </ul>
    </section>

    <!-- SLIDER-SELF-ASSESSMENT-->
    <section class="slider-self-assessment">
        <h4 class="h4">Lorem ipsum dolor sit amet consectetur.</h4>
        <div class="slider">
            <p class="slider__p">förstår inte</p><input type="range" name="self-assessment" id="self-assessment"><p class="slider__p">förstår allt</p>
        </div>
    </section>

</body>
</html>