* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Cairo', sans-serif;
    font-size: 1.6rem;
}

body > * {
    margin: 3rem;
}

:root {
    font-size: 62.5%;

    --primary-text-color: #141619;
    --primary-bg-color: #F5F5F5;
    --light-blue: #E6EBF3;
    --purple:  #E0D6FF;

    --border-radius: 6px;
}

h2 {
    font-weight: 600;
    font-size: 3.0rem;
}

h3 {
    font-weight: 600;
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
    font-weight: 600;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
}

figcaption {
    font-weight: 400;
    font-size: 1.4rem;
}


/* NAV */

.nav {
    min-height: 4.8rem;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav__link {
    padding: 0 1.6rem;
    border-right: 1px solid rgba(20, 22, 25, 0.08);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-text-color);
    font-size: 1.2rem;
    letter-spacing: 0.7px;
}

/* MODULE */

.module {
    padding: 1.6rem;
    background-color: var(--light-blue);
    border-radius: var(--border-radius);
    display: flex;
    gap: 6.3rem;
}

.goal {
    counter-increment: item;
    margin: 1.6rem 0;
}

.goal:before {
    background-color: rgba(243, 245, 247, 0.94);
    border-radius: 3px;
    content: counter(item);
    width: 2.4rem;
    height: 2.4rem;
    display: inline-block;
    text-align: center;
    line-height: 2.4rem;
    margin-right: 1.6rem;
}

.module__number {
    position: relative;
}

.module__number:before {
    content:' ';
    position: absolute;
    bottom: 0;
    width: 3.2rem;
    height: 2px;
    background-color: var(--primary-text-color);
}

/* SELF ASSESSMENT */

.self-assessment {
    padding: 1rem 0;
}

.self-assessment__options {
    width: fit-content;
    border: 0.5px solid var(--primary-text-color);
    overflow: hidden;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(4, 14rem);
}

.self-assessment__option {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    padding: .6rem 0;
    cursor: pointer;
}

.border-right {
    border-right: 0.5px solid var(--primary-text-color);
}

.self-assessment__option:hover {
    background-color: rgba(20, 22, 25, 0.8);
    color: var(--primary-bg-color);
}

/* COURSE CARD */

.course-card {
    width: 24.5rem;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.course-card__figure h4,
.course-card__figure figcaption {
    margin: 0 1.6rem;
}

.course-card__img {
    height: 20rem;
    background-color: #666A73;
    margin-bottom: 1rem;
}

.course-card__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    margin: 1.6rem;
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-top: 4rem;
}

.card__link {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 0;
    background-color: #ebecee;
    color: var(--primary-text-color);
}

.card__link:hover {     /* Samma som assessment! Lägga ihop? */
    background-color: rgba(20, 22, 25, 0.8);
    color: var(--primary-bg-color);
}

/* BTN */

.btn {
    max-width: 60rem;
    width: 100%;
    border: none;
    background-color: #EA4848;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.768);
    padding: 1.6rem 2.4rem;
    cursor: pointer;
}

/* TOGGLE */

.toggle {
    width: 4rem;
    height: 2rem;
    padding: 2px;
    background-color: var(--primary-text-color);
    border-radius: 4rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.toggle__circle {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: var(--primary-bg-color);
    cursor: pointer;
}

/* CLOSE FINISHED ACTIVITIES */

.close-finished-activities {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

/* SLIDER SELF-ASSESSMENT */

.slider-self-assessment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.slider {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.slider__p {
    font-size: 1.2rem;
}

.toggle--slider {
    width: 30rem;
    height: 1px;
    padding: 0;
    border: none;
    justify-content: center;
}

.toggle__circle--slider {
    background-color: var(--primary-text-color);
}

/* MODULE GOAL */

.module__goal__p {
    font-size: 1.2rem;
    background-color: rgba(20, 22, 25, 0.08);
    border-radius: 4px;
    width: fit-content;
    padding: .5rem 1rem;
}

/* LESSON */

.module--purple {
    background-color: #E0D6FF;
}

.module__overview--purple {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}