<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../components/style.css">
    <title>Awesomo - kurser</title>
</head>

<body>
    <div class="wrapper wrapper--no-gap">
        <!-- PAGE-HEADER -->
        <header class="page-header">
            <section>
                <h1 class="h1 h1--huge">Kurser</h1>
            </section>
        </header>

        <!-- TOGGLE-DONE -->
        <section class="toggle-done">
            <div class="toggle-done__track">
                <div class="toggle-done__thumb"></div>
            </div>
            <p class="main-p">Fäll ihop avklarade Moduler och Aktiviteter</p>
        </section>

        <section class="courses">

            <!-- COURSE-CARD -->
            <article class="course-card">
                <div class="course-card__color"></div>
                <section class="course-card__info">
                    <section>
                        <h4 class="h4">En awesome kurs i grejer</h4>
                        <figcaption class="figcaption">med Lärare Lärarsson</figcaption>
                    </section>
                    <nav class="course-card__nav">
                        <a class="card__link card-p" href="#">Planera</a>
                        <a class="card__link card-p" href="#">Kursvy</a>
                        <a class="card__link card-p" href="#">Översikt</a>
                        <a class="card__link card-p" href="#">Bedömning</a>
                    </nav>
                </section>
            </article>

            <!-- COURSE-CARD -->
            <article class="course-card">
                <div class="course-card__color"></div>
                <section class="course-card__info">
                    <section>
                        <h4 class="h4">En awesome kurs i grejer med lite längre titel</h4>
                        <figcaption class="figcaption">med Lärare Lärarsson</figcaption>
                    </section>
                    <nav class="course-card__nav">
                        <a class="card__link card-p" href="#">Planera</a>
                        <a class="card__link card-p" href="#">Kursvy</a>
                        <a class="card__link card-p" href="#">Översikt</a>
                        <a class="card__link card-p" href="#">Bedömning</a>
                    </nav>
                </section>
            </article>

            <!-- COURSE-CARD -->
            <article class="course-card">
                <div class="course-card__color"></div>
                <section class="course-card__info">
                    <section>
                        <h4 class="h4">En awesome kurs i grejer</h4>
                        <figcaption class="figcaption">med Lärare Lärarsson</figcaption>
                    </section>
                    <nav class="course-card__nav">
                        <a class="card__link card-p" href="#">Planera</a>
                        <a class="card__link card-p" href="#">Kursvy</a>
                        <a class="card__link card-p" href="#">Översikt</a>
                        <a class="card__link card-p" href="#">Bedömning</a>
                    </nav>
                </section>
            </article>

            <!-- COURSE-CARD -->
            <article class="course-card">
                <div class="course-card__color"></div>
                <section class="course-card__info">
                    <section>
                        <h4 class="h4">En awesome kurs i grejer</h4>
                        <figcaption class="figcaption">med Lärare Lärarsson</figcaption>
                    </section>
                    <nav class="course-card__nav">
                        <a class="card__link card-p" href="#">Planera</a>
                        <a class="card__link card-p" href="#">Kursvy</a>
                        <a class="card__link card-p" href="#">Översikt</a>
                        <a class="card__link card-p" href="#">Bedömning</a>
                    </nav>
                </section>
            </article>

            <!-- COURSE-CARD -->
            <article class="course-card">
                <div class="course-card__color"></div>
                <section class="course-card__info">
                    <section>
                        <h4 class="h4">En awesome kurs i grejer</h4>
                        <figcaption class="figcaption">med Lärare Lärarsson</figcaption>
                    </section>
                    <nav class="course-card__nav">
                        <a class="card__link card-p" href="#">Planera</a>
                        <a class="card__link card-p" href="#">Kursvy</a>
                        <a class="card__link card-p" href="#">Översikt</a>
                        <a class="card__link card-p" href="#">Bedömning</a>
                    </nav>
                </section>
            </article>

            <!-- COURSE-CARD -->
            <article class="course-card">
                <div class="course-card__color"></div>
                <section class="course-card__info">
                    <section>
                        <h4 class="h4">En awesome kurs i grejer</h4>
                        <figcaption class="figcaption">med Lärare Lärarsson</figcaption>
                    </section>
                    <nav class="course-card__nav">
                        <a class="card__link card-p" href="#">Planera</a>
                        <a class="card__link card-p" href="#">Kursvy</a>
                        <a class="card__link card-p" href="#">Översikt</a>
                        <a class="card__link card-p" href="#">Bedömning</a>
                    </nav>
                </section>
            </article>

            <!-- COURSE-CARD -->
            <article class="course-card">
                <div class="course-card__color"></div>
                <section class="course-card__info">
                    <section>
                        <h4 class="h4">En awesome kurs i grejer</h4>
                        <figcaption class="figcaption">med Lärare Lärarsson</figcaption>
                    </section>
                    <nav class="course-card__nav">
                        <a class="card__link card-p" href="#">Planera</a>
                        <a class="card__link card-p" href="#">Kursvy</a>
                        <a class="card__link card-p" href="#">Översikt</a>
                        <a class="card__link card-p" href="#">Bedömning</a>
                    </nav>
                </section>
            </article>

            <!-- COURSE-CARD -->
            <article class="course-card">
                <div class="course-card__color"></div>
                <section class="course-card__info">
                    <section>
                        <h4 class="h4">En awesome kurs i grejer</h4>
                        <figcaption class="figcaption">med Lärare Lärarsson</figcaption>
                    </section>
                    <nav class="course-card__nav">
                        <a class="card__link card-p" href="#">Planera</a>
                        <a class="card__link card-p" href="#">Kursvy</a>
                        <a class="card__link card-p" href="#">Översikt</a>
                        <a class="card__link card-p" href="#">Bedömning</a>
                    </nav>
                </section>
            </article>

 
        </section>
    </div>
</body>

</html>