<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../components/style.css">
    <title>Awesomo</title>
</head>
<body>
    <div class="wrapper">
        
        <!-- PAGE-HEADER -->
        <header class="page-header">
            <section>
                <h1 class="h1 h1--huge">Tillgänglighet grund <span class="yhp">30yhp</span></h1>
                <time class="h2 uc-color--secondary-text-dark h1__date" datetime="2022-10-03">3 okt - 5 nov</time>
            </section>

            <!-- NAV -->
            <nav class="nav">
                <a class="nav__link" href="courses.html">Planering</a>
                <a class="nav__link" href="#">Dashboard</a>
                <a class="nav__link nav__link--active" href="#">Kursvy</a>
                <a class="nav__link" href="#">Bedömning</a>
            </nav>
        </header>
    
        <!-- TOGGLE-DONE -->
        <section class="toggle-done">
            <div class="toggle-done__track"><div class="toggle-done__thumb"></div></div>
            <p class="main-p">Fäll ihop avklarade Moduler och Aktiviteter</p>
        </section>
    
        <!-- MODULE-CONTAINER -->
        <article class="module-container">
            <section>
                <h2 class="h2 module-title">1. Semantisk HTML</h2>
        
                <!-- LESSON-HEADER -->
                <header class="lesson-header">
                    <aside class="module">
                        <h2 class="h2 module__number">01</h2>
                        <h3 class="h3">2 studiedagar</h3>
                    </aside>
                    <section class="module__overview">
                        <h2 class="h2">Mål med modul</h2>
                        <ol>
                            <li class="lesson-outcome main-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, nihil.</li>
                            <li class="lesson-outcome main-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, nihil</li>
                        </ol>
                    </section>
                </header>
            </section>
    
            <!-- LESSON 1.1 -->
            <article class="lesson">
                <aside class="module">
                    <h2 class="h2 module__number">1.1</h2>
                    <!-- SCHEDULE -->
                    <section class="schedule">
                        <img src="../img/calendar-outline.svg" alt="Icon of calendar.">
                        <section class="uc-color--secondary-text-dark">
                            <time class="schedule__date" datetime="2022-10-03">9 okt.</time>
                            <time class="schedule__time" datetime="08:00+01:00">9.00-16.00</time>
                            <address class="schedule__address uc-color--secondary-text-dark">@zocom</address>
                        </section>
                    </section>
                </aside>
                <section class="module__overview">
                    <h2 class="h2 uc-color--secondary-text-dark">Tillgänglighet - en grundläggande rättighet</h2>
                    
                    <!-- MODULE-GOAL -->
                    <section class="module-goal">
                        <p class="card-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, nesciunt?</p>
                    </section>
                    <p class="main-p">Responsive web design agile development funding MVP alpha channels. User experience beta branding supply chain social proof scrum project ramen influencer hypotheses termsheet.</p>
                    
                    <!-- LINK -->
                    <section class="link__wrapper">
                        <section class="link">
                            <img src="../img/document-outline.svg" alt="">
                            <p class="figcaption">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </section>
                        <section class="link">
                            <img src="../img/videocam-outline.svg" alt="">
                            <p class="figcaption">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </section>
                    </section>

                    <!-- ACTIVITY-SELF-ASSESMENT -->
                    <section class="activity-self-assessment">
                        <ul class="self-assessment__options">
                            <li class="self-assessment__option border-right card-p">ej påbörjat</li>
                            <li class="self-assessment__option border-right card-p">förstår ej</li>
                            <li class="self-assessment__option border-right card-p">förstår delvis</li>
                            <li class="self-assessment__option card-p">förstår helt</li>
                        </ul>
                    </section>
                </section>
            </article>

            <!-- LESSON 1.2 -->
            <article class="lesson lesson--purple">
                <aside class="module">
                    <h2 class="h2 uc-color--secondary-text-dark module__number--lighter">1.2</h2>
                    <!-- SCHEDULE -->
                    <section class="schedule">
                        <img src="../img/calendar-outline.svg" alt="Icon of calendar.">
                        <section class="uc-color--secondary-text-dark">
                            <time class="schedule__date" datetime="2022-10-03">9 okt.</time>
                            <time class="schedule__time" datetime="08:00+01:00">9.00-16.00</time>
                            <address class="schedule__address uc-color--secondary-text-dark">@zocom</address>
                        </section>
                    </section>
                </aside>
                <section class="module__overview">
                    <h2 class="h2 uc-color--secondary-text-dark">Tillgänglighet - en grundläggande rättighet</h2>
                    
                    <!-- MODULE-GOAL -->
                    <section class="module-goal">
                        <p class="card-p uc-color--secondary-text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, nesciunt?</p>
                    </section>
                    <p class="main-p">Responsive web design agile development funding MVP alpha channels. User experience beta branding supply chain social proof scrum project ramen influencer hypotheses termsheet.</p>
                    
                    <!-- LINK -->
                    <section class="link__wrapper">
                        <section class="link">
                            <img src="../img/document-outline.svg" alt="">
                            <p class="figcaption">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </section>
                        <section class="link">
                            <img src="../img/videocam-outline.svg" alt="">
                            <p class="figcaption">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </section>
                    </section>

                    <!-- ACTIVITY-SELF-ASSESMENT -->
                    <section class="activity-self-assessment">
                        <ul class="self-assessment__options">
                            <li class="self-assessment__option border-right card-p">ej påbörjat</li>
                            <li class="self-assessment__option border-right card-p">förstår ej</li>
                            <li class="self-assessment__option border-right card-p">förstår delvis</li>
                            <li class="self-assessment__option card-p">förstår helt</li>
                        </ul>
                    </section>
                </section>
            </article>

            <!-- LESSON 1.3 -->
            <article class="lesson lesson--blue">
                <aside class="module">
                    <h2 class="h2 uc-color--secondary-text-dark module__number--lighter">1.3</h2>
                    <!-- SCHEDULE -->
                    <section class="schedule">
                        <img src="../img/calendar-outline.svg" alt="Icon of calendar.">
                        <section class="uc-color--secondary-text-dark">
                            <time class="schedule__date" datetime="2022-10-03">9 okt.</time>
                            <time class="schedule__time" datetime="08:00+01:00">9.00-16.00</time>
                            <address class="schedule__address uc-color--secondary-text-dark">@zocom</address>
                        </section>
                    </section>
                </aside>
                <section class="module__overview">
                    <h2 class="h2 uc-color--secondary-text-dark">Tillgänglighet - en grundläggande rättighet</h2>
                    
                    <!-- MODULE-GOAL -->
                    <section class="module-goal">
                        <p class="card-p uc-color--secondary-text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, nesciunt?</p>
                    </section>
                    <p class="main-p">Responsive web design agile development funding MVP alpha channels. User experience beta branding supply chain social proof scrum project ramen influencer hypotheses termsheet.</p>
                    
                    <!-- LINK -->
                    <section class="link__wrapper">
                        <section class="link">
                            <img src="../img/document-outline.svg" alt="">
                            <p class="figcaption">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </section>
                        <section class="link">
                            <img src="../img/videocam-outline.svg" alt="">
                            <p class="figcaption">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </section>
                    </section>

                    <!-- ACTIVITY-SELF-ASSESMENT -->
                    <section class="activity-self-assessment">
                        <ul class="self-assessment__options">
                            <li class="self-assessment__option border-right card-p">ej påbörjat</li>
                            <li class="self-assessment__option border-right card-p">förstår ej</li>
                            <li class="self-assessment__option border-right card-p">förstår delvis</li>
                            <li class="self-assessment__option card-p">förstår helt</li>
                        </ul>
                    </section>
                </section>
            </article>
    
            <!-- LESSON-HEADER -->
            <header class="lesson-header">
                <aside class="module">
                    <h2 class="h2 module__number">1.5</h2>
                    <h3 class="h3">HTML & CSS</h3>
                </aside>
                <section class="module__overview">
                    <h2 class="h2">Modulmål</h2>
                    <p class="main-p">Uppskatta i vilken utsträckning du nått modulens läromål.</p>
                    <!-- BTN -->
                    <button class="btn"><h4 class="h4">Let's uppskatta vad jag har lärt mig!</h4></button>
                </section>
            </header>

            <!-- LESSON-HEADER -->
            <header class="lesson-header">
                <aside class="module">
                    <h2 class="h2 module__number">1.5</h2>
                    <h3 class="h3">HTML & CSS</h3>
                </aside>
                <section class="module__overview">
                    <h2 class="h2">Modulmål</h2>
                    <p class="main-p">Uppskatta i vilken utsträckning du nått modulens läromål.</p>
                    
                    <!-- SLIDER-SELF-ASSESSMENT-->
                    <section class="slider-self-assessment">
                        <h4 class="h4">Lorem ipsum dolor sit amet consectetur.</h4>
                        <div class="slider">
                            <p class="slider__p">förstår inte</p><input type="range" name="self-assessment" id="self-assessment"><p class="slider__p">förstår allt</p>
                        </div>
                    </section>
                    
                    <!-- SLIDER-SELF-ASSESSMENT-->
                    <section class="slider-self-assessment">
                        <h4 class="h4">Lorem ipsum dolor sit amet consectetur.</h4>
                        <div class="slider">
                            <p class="slider__p">förstår inte</p><input type="range" name="self-assessment" id="self-assessment"><p class="slider__p">förstår allt</p>
                        </div>
                    </section>
                    
                    <!-- SLIDER-SELF-ASSESSMENT-->
                    <section class="slider-self-assessment">
                        <h4 class="h4">Lorem ipsum dolor sit amet consectetur.</h4>
                        <div class="slider">
                            <p class="slider__p">förstår inte</p><input type="range" name="self-assessment" id="self-assessment"><p class="slider__p">förstår allt</p>
                        </div>
                    </section>

                    <!-- BTN -->
                    <button class="btn"><h4 class="h4">Ok, klar!</h4></button>
                </section>
            </header>
        </article>
    </div>
    
</body>
</html>